* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5{
  color: blue;
}

body {
  font-family: "Lato", sans-serif;
  background: rgb(238, 235, 235);
  font-weight: bold;
}
.container {
  display: flex;
  height: 97vh;
  margin-left: 50px;
}
h1 {
  margin-left: 60px;
  font-size: 2rem;
}
h2 {
  margin-left: 10px;
}

.box {
  border: 2px solid white;
  background: white;

  width: 20rem;
  height: 430px;
  margin: 10px 2px 2px 40px;
  border-radius: 3%;
}

.filter-section {
  width: 15%;
  background: white;
  justify-content: center;
  margin-top: 10px;
  border-radius: 2%;
}

img {
  height: 200px;
  width: 200px;
  margin: 15px 0px 0px 15px;
}

.imagediv{
  height: 250px;
  width: 250px;
  margin: 20px 0px 0px 35px;

  background-color: rgb(238, 235, 235);
}

span {
  text-decoration: underline;
  margin-left: 80px;
  width: 200px;
}

.contents-section {
  width: 85%;

  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

button {
  height: 40px;
  width: 80px;
  margin: 10px 0px 0px 30px;
  border-radius: 10%;
  border-color: rgb(168, 241, 146);
  background: rgb(139, 235, 139);
}

button :active{
  background-color: lightgreen;
}

/* media query for max width 1024px */
@media screen and (max-width: 1470px) and (min-width: 1025px) {
  .container {
    display: flex;
  }

  .box {
    border: 1px solid white;
    background: white;

    width: 12rem;
    height: 430px;
    margin: 10px 2px 2px 40px;
    border-radius: 3%;
  }

  .imagediv {
    height: 250px;
    width: 100px;
    margin: 20px 0px 0px 35px;

    background-color: rgb(238, 235, 235);
  }

  img {
    height: 200px;
    width: 100px;
    margin: 15px 0px 0px 5px;
  }

  .filter-section {
    background: white;
    width: 20%;
    margin-left: -25px;
  }

  .contents-sections {
    display: flex;
    width: 80%;
  }

  button {
    height: 40px;
    width: 70px;
    margin: 10px 0px 0px 22px;
    border-radius: 10%;
    border-color: azure;
  }

  h1 {
    font-size: 1.5rem;
    margin-left: 58px;
  }

  span {
    text-decoration: underline;
    margin-left: 50px;
    font-weight: bold;
    font-size: 0.8rem;

    width: 200px;
  }
}

/* media query for max width 1024px */
@media screen and (max-width: 1024px) and (min-width: 900px) {
  .container {
    display: flex;
  }

  .box {
    border: 1px solid white;
    background: white;

    width: 17rem;
    height: 430px;
    margin: 10px 2px 2px 40px;
    border-radius: 3%;
  }

  .imagediv {
    height: 250px;
    width: 200px;
    margin: 20px 0px 0px 25px;

    background-color: rgb(238, 235, 235);
  }

  img {
    height: 200px;
    width: 150px;
    margin: 15px 0px 0px 30px;
  }

  .filter-section {
    background: white;
    width: 25%;
    margin-left: -25px;
  }

  .contents-sections {
    display: flex;
    width: 75%;
  }

  button {
    height: 30px;
    width: 50px;
    margin: 10px 0px 0px 22px;
    border-radius: 10%;
    border-color: azure;
  }

  h1 {
    font-size: 1.5rem;
    margin-left: 58px;
  }

  span {
    text-decoration: underline;
    margin-left: 50px;
    font-weight: bold;
    font-size: 0.8rem;

    width: 200px;
  }
}

/* media query for max width 1024px */

@media screen and (max-width: 900px) and (min-width: 700px) {
  .container {
    display: flex;
  }

  .box {
    border: 1px solid white;
    background: white;

    width: 13rem;
    height: 430px;
    margin: 10px 2px 2px 40px;
    border-radius: 3%;
  }

  .imagediv {
    height: 250px;
    width: 160px;
    margin: 20px 0px 0px 25px;

    background-color: rgb(238, 235, 235);
  }

  img {
    height: 200px;
    width: 90px;
    margin: 15px 0px 0px 30px;
  }

  .filter-section {
    background: white;
    width: 25%;
    margin-left: -25px;
  }

  .contents-sections {
    display: flex;
    width: 75%;
  }

  button {
    height: 30px;
    width: 50px;
    margin: 10px 0px 0px 22px;
    border-radius: 10%;
    border-color: azure;
  }

  h1 {
    font-size: 1.5rem;
    margin-left: 58px;
  }

  span {
    text-decoration: underline;
    margin-left: 50px;
    font-weight: bold;
    font-size: 0.8rem;

    width: 200px;
  }
}

/* media query for max width 700px */

@media screen and (max-width: 700px) and(min-width:427px) {
  .container {
    display: flex;
  }

  .filter-section {
    background: white;
    width: 25%;
    margin-left: -25px;
  }

  .contents-sections {
    display: flex;
    width: 75%;
  }

  button {
    height: 30px;
    width: 50px;
    margin: 10px 0px 0px 22px;
    border-radius: 10%;
    border-color: azure;
  }

  h1 {
    font-size: 1.5rem;
    margin-left: 58px;
  }

  span {
    text-decoration: underline;
    margin-left: 50px;
    font-weight: bold;
    font-size: 0.8rem;

    width: 200px;
  }
}

/* media query for max width 427 */

@media screen and (max-width: 700px) and (min-width: 428px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150vh;
  }

  .filter-section {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
  }
  .box {
    border: 1px solid white;
    background: white;

    width: 25rem;
    height: 430px;
    margin: 10px 2px 2px 10px;
    border-radius: 3%;
  }
  img {
    height: 200px;
    width: 300px;
    margin: 15px 0px 0px 25px;
  }

  .imagediv {
    height: 250px;
    width: 350px;
    margin: 20px 0px 0px 30px;

    background-color: rgb(238, 235, 235);
  }

  .contents-sections {
    display: flex;
    width: 55%;
  }

  button {
    height: 30px;
    width: 50px;
    margin: 10px 0px 0px 25px;
    border-radius: 10%;
    border-color: azure;
  }

  h1 {
    font-size: 1.5rem;
    margin-left: 58px;
  }

  span {
    text-decoration: underline;
    margin-left: 45px;
    font-weight: bold;

    width: 200px;
  }
}

/* media query for max width 427 */

@media screen and (max-width: 427px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-section {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -25px;
  }

  .contents-sections {
    display: flex;
    width: 100%;
  }
  .box {
    border: 1px solid white;
    background: white;

    width: 18rem;
    height: 430px;
    margin: 10px 2px 2px 0px;
    border-radius: 3%;
  }

  button {
    height: 30px;
    width: 50px;
    margin: 10px 0px 0px 22px;
    border-radius: 10%;
    border-color: azure;
  }

  h1 {
    font-size: 1.5rem;
    margin-left: 58px;
  }

  span {
    text-decoration: underline;
    margin-left: 50px;
    font-weight: bold;

    width: 200px;
  }
}
